# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.env
.venv/
env/
ENV/

# Archivos de bases de datos (si los tuvieras luego)
*.db
*.sqlite3

# Logs
*.log

# Mac
.DS_Store

# Visual Studio Code
.vscode/

# Archivos temporales o de sistema
Thumbs.db
ehthumbs.db
